<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" #loginForm="ngForm" (ngSubmit)="SingIn()">
              <div class="form-label-group">
                <label for="inputEmail">Email address</label>
                <input type="email" 
                       id="inputEmail" 
                       class="form-control" 
                       placeholder="Email address" 
                       required 
                       autofocus
                       [(ngModel)]="email"
                       name="email">
              </div>
  
              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" 
                       id="inputPassword" 
                       class="form-control" 
                       placeholder="Password" 
                       required
                       [(ngModel)]="password"
                       name="password">
              </div>
  
              <button class="btn btn-lg btn-primary btn-block text-uppercase" 
                      type="submit" 
                      [disabled]="!loginForm.form.valid">
                Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>